body{
  background-color: #EFEFEF;
  padding-top: 30px;
}

/*--------------------------------------------------------
detail/全体
----------------------------------------------------------*/
#detail_wrapper{
  width: 100%;
  background-color: #EFEFEF;
}
  
#detail_content{
  border:1px solid #999999;
  box-shadow:0px 4px 8px -2px #d4d4d4;
  background-color: #fff;
}
  
#detail_map{
  height: 500px;
  margin-bottom: 30px;
}

.photo{
  height: 150px;
  background-color: #cccccc;
  border:1px solid #999999;
}

.under{
  border-bottom: 1px solid #707070;
}

#shop_name{
  margin-bottom: 20px;
}

.margin-0{
  margin: 0;
}

.head-object{
  background-color: #961212;
  width: 10px;
  float: left;
  height: 40px;
}
/*--------------------------------------------------------
detail/table
----------------------------------------------------------*/
  
hr{
  border-width: 2px 0 0 0; /* 太さ */
  border-color: 707070; /* 色 */
  margin: 10px 0px 40px 0;
}
#detail_table{
  border-spacing: 0;
  border-collapse: collapse;
}
table th,table td{
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
}
table th{
  padding: 5px 10px;
  background: #F7D7D5;
  color: #707070;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
}
table td{
  padding: 2px 5px;
  background: #FCFCFC;
  color: #45823E;
  text-align: left;
}
table tr:nth-child(even) td{
  background: #EEEEEE;
}
table th:last-child,table td:last-child{
  border-right: 1px solid #707070;
}
table tr:last-child th,table tr:last-child td{
  border-bottom: 1px solid #707070;
}
table th:not(:first-child),table td:not(:first-child){
  border-left:none;
}
  
/*--------------------------------------------------------
bootstrap3 navbar
----------------------------------------------------------*/

.navbar-default {
  background-color: #ffffff;
  background-image:none;
}
.navbar-default .navbar-brand {
  font-size: 25px;
  color: #474747;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #961212;
}
.navbar-default .navbar-text {
  color: #474747;
}
.navbar-default .navbar-nav > li > a {
  color: #474747;
  margin-left: 20px;
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #961212;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #474747;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #961212;
  background-color: #fbecec;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #fbecec;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #961212;
  background-color: #fbecec;
  background-image:none;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #961212;
  background-color: #fbecec;
  background-image:none;
  box-shadow: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #961212;
  background-color: #fbecec;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fbecec;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #474747;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #474747;
}
.navbar-default .navbar-link {
  color: #474747;
}
.navbar-default .navbar-link:hover {
  color: #961212;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #474747;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #961212;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #961212;
    background-color: #fbecec;
  }
}
.navbar-default{
  border:none;
  box-shadow: none;
  margin-bottom: 0px;
}

.user_icon{
  width: 25px;
  height: 25px;
}

.logo_mark{
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*--------------------------------------------------------
card
----------------------------------------------------------*/
.card{
  border-color: #000;
  background-color: #fff;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 4px 18px -5px rgba(122,122,122,1);
  -moz-box-shadow: 0px 4px 18px -5px rgba(122,122,122,1);
  box-shadow: 0px 4px 18px -5px rgba(122,122,122,1);  
}

.none-decoration{
  text-decoration	:none;
}
.none-decoration:link { color: #000; }
.none-decoration:visited { color: #000; }
.none-decoration:hover { color: #000; }
.none-decoration:active { color: #000; }

.img_box{
  /*overflow: auto;*/
}

.testbox{
  height: 100px;
  width: 100px;
  background-color: #343434;
  margin-left: auto;
}

.card_shop_name{
    font-size: 1.5rem;
    margin-left: 5%;
    padding: 20px 0px 5px 0px;
}

.card_shop_detail{
    margin-left: 5%;
    padding: 2% 0px 5% 0px;
    font-size: 0.3rem;

}
.card_hr{
  margin: 0px
}
.add_favorites{
  border:none;
}


/*--------------------------------------------------------
検索ボックス
----------------------------------------------------------*/
.search_wrap{
  position:relative;
  background-color:#fff;
  border-top: 3px solid #707070;
  padding: 8px 0px;
}

dl{
  margin-bottom: 0px;
}

dl.search{
  position:relative;
  background-color:#fff;
  border-top: 3px solid #707070;
  margin: 0% 10%;
  border: 1px solid #aaa;
  border-radius: 4px;
}
dl.search dt{
  margin-right:70px;
  padding:8px 0 8px 30px;
}
dl.search dt input{
  width:100%;
  height:24px;
  line-height:24px;
  background:none;
  border:none;
}
dl.search dd{
  position:absolute;
  top:0;
  right:0;
}
dl.search dd button{
  display:block;
  padding:10px;
  background:none;
  border:none;
  margin-right: 10px;
}
dl.search dd button span{
  display:block;
  width:23px;
  height:23px;
  background:url('../image/icon_search_50.png') no-repeat scroll 0 0;
  background-size:contain
}

#pac-input{
  box-shadow: none;
  margin-top:  0px;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}

#address{
  font:none;
  font-family: Roboto;
  font-size: 15px;
}


